body{
	background: #e0eee0;
}
header{
	background: #337ab7;
	height: 80px;
	line-height: 100%;
}
#you{
	margin-top: 30px;
}
#web{
	min-height: 500px;
	width: 100%;
	padding: 30px;
	border:1px solid #ccc;
	background: #fff;
	border-radius: 10px;
}
.row div{
	line-height: 100%;
}
a.list-group-item{
	text-decoration: none;
}
.breadcrumb li a{
	text-decoration: none;
}
.pagination{
	float: right;
}

#content div {
	border:1px solid gray;
}

/* #catadd{
	width: 100%;
	padding: 30px;
	background: #eee;
	border:1px solid #337ab7;
	border-radius: 10px;
} */

/* #artadd{
	width: 100%;
	padding: 30px;
	background: #eee;
	border:1px solid #337ab7;
	border-radius: 10px;
}
 */
.table th, .table td { 
	text-align: center;
	line-height: 100%;
}

#gaimima{
	width: 100%;
	padding: 30px;

}
#xiugai{
	width: 100%;
	padding: 30px;
	background: #fff;
	border:1px solid lightgray;
	border-radius: 5px;
}

#commshow,#msgshow{
	width:100%;
	clear: both;
}

