@charset "utf-8";
/* CSS Document */
.tools_bar{position:fixed;top:170px;right:10px;z-index:200}
.kfBox{width:45px;font-family:"微软雅黑";}
.kfBox p{margin:0;}
.kfBox li{width:100%;height:45px;margin-bottom:1px; position:relative; }
.kfBox li a{
    cursor: pointer; 
    outline: medium none;
    text-decoration: none;
    -moz-transition: all 0.2s ease-out 0s;
    -webkit-transition: all 0.2s ease-out 0s;
    -o-transition: all 0.2s ease-out 0s;
    transition: all 0.2s ease-out 0s;
}
.kfBox li .icon1,.kfBox li .icon2,.kfBox li .icon3,.kfBox li .icon4{display:block;width:45px;height:45px;}
.kfBox li .icon5{display:block;width:123px;height:130px;position:absolute;left:-68px;top:30px;}
.kfBox li.qqKf .icon1{background:url(../images/index_new_8.png) no-repeat scroll 0px 0px;}
.kfBox li.qqKf .icon1.on{background:url(../images/index_new_8.png) no-repeat scroll 0px -45px;}
.kfBox li.hotLine .icon2{background:url(../images/index_new_8.png) no-repeat  scroll -45px 0px;}
.kfBox li.hotLine .icon2.on{background:url(../images/index_new_8.png) no-repeat  scroll -45px -45px;}
.kfBox li.qqKf .qqKf_list{width:138px;padding:18px 0 5px;border:1px solid #d6d6d6;position:absolute;top:0;right:45px;background:#fff;}
.kfBox li.qqKf .qqKf_list p{height:18px;line-height:18px;padding:0 32px 0 54px;margin-bottom:12px;color:#666;font-size:12px;background:url(../images/qq.png) 32px center no-repeat;}
.kfBox li.qqKf .qqKf_list p.last{height:35px;line-height:35px;margin:5px 0 0;padding:0; text-align:center;background:none;}
.kfBox li.qqKf .qqKf_list p a{color:#666;}
.kfBox li.qqKf .qqKf_list p a:hover{color:#009dd1;}
.kfBox li.qqKf .qqKf_list span{display:block;width:100%;height:2px;background:url(../images/line1.gif) center center no-repeat;}
.kfBox li.hotLine .qqKf_list2{width:114px;padding:0px 12px 0px;border:1px solid #d6d6d6;position:absolute;top:0;right:45px;background:#fff;}
.kfBox li.hotLine .qqKf_list2 p{height:40px;line-height:40px;color:#666;text-align: center;font-size:12px;}
.kfBox li.hotLine .qqKf_list2 p.first{height:50px;line-height:50px;padding-left:20px;background:url(../images/phone2.png) 5px center no-repeat;}
.kfBox li.hotLine .qqKf_list2 span{display:block;width:100%;height:2px;background:url(../images/line1.gif) center center no-repeat;}
.kfBox li.index_calculator .icon3{background:url(../images/index_new_8.png) no-repeat  scroll -90px 0px;}
.kfBox li.index_calculator .icon3.on{background:url(../images/index_new_8.png) no-repeat  scroll -90px -45px;}
.kfBox li.index_top .icon4{background:url(../images/index_new_8.png) no-repeat  scroll -135px 0px;}
.kfBox li.index_top .icon4.on{background:url(../images/index_new_8.png) no-repeat  scroll -135px -45px;}
