


    <div class="dw_list" style="margin-bottom: 0px;">

      

      <div class="dw_dierheng">

        <div style="overflow:visible">

          <div class="touxiang"> <a href="/member/user#fragment-1" title="点击进行头像更换">

           <img style="width: 114px; height: 114px; border: 1px solid #dedede; border-radius:4px;" alt="点击进行头像更换" src="/public/admin/images/noavatar_middle.gif"></a> </div>

          <div class="touxiang_right">

            <div class="dw_p1">

              <p>17610770080</p>

            </div>

            <div class="dw_p3">

              <div class="dw_tip">

                  <div class="dw_tip2">还未设支付密码<span ></span> <a  style="color:#0099DD" href="/member/user#fragment-3">[点此设置]</a><span ></span></div>

                  <div class="dw_tip3"> </div>

                  <div class="dw_tip5" id="dwtipkff"> </div>

                </div>

                <script type="text/javascript">

                $('#dwtipkff').click(function(){

                $(this).parent().hide();

                });

                </script>                                          <a href="/member/verify#fragment-2"><img alt="手机认证通过"  style="vertical-align:middle"; title="手机认证通过" src="/public/admin/images/phone.gif"/>&nbsp;<a  href="/member/user#fragment-3"><img alt="支付密码未设置"  style="vertical-align:middle"; title="支付密码未设置" src="/public/admin/images/mima_0.gif"/></a>&nbsp;<a  href="/member/sign"> 

			  </div>

          </div>

        </div>

        <div class="heng2" style="overflow: inherit;">

          <div>

            <p style="margin-bottom: 20px;">可用资金：<em style="color: #ff5301;font-size: 20px;">￥0.00</em><span class="chongzhi" onclick="javascript:location.href=('/member/withdraw#fragment-1')" >提现</span><span onclick="javascript:location.href=('/member/charge#fragment-1')" class="chongzhi" style="margin-right: 10px;background: #f34e3d;border: 1px solid #f34e3d;color: #fff;">充值</span></p>

            <div>

              <img src="/public/admin/images/wenhao.png" style="display: block; float: left;margin: 7px 5px 0 0;cursor: pointer;" class="zichan_wen"/>

              资产总额：<em>￥0.00</em> 元

              <p class="zichan">

                资产总额 = 可用资金 + 冻结资金 + 待收本金 + 待收利息；详情请见下方的资产负债表

              </p>

            </div>

            <div style="margin-bottom: 0;position: relative;">

              <img src="/public/admin/images/wenhao.png" style="display: block; float: left;margin: 7px 5px 0 0;cursor: pointer;" class="shouyi_wen"/>

              今日收益：<em>￥0.00</em> 元

              <span onclick="javascript:location.href=('/member/capital?start_time=2017-08-20&end_time=2017-08-20#fragment-2')"  style="margin-left: 16px; font-size: 12px;color: #008cb4;cursor: pointer;">查看详情</span>

              <p class="shouyi" style="top: -66px;">

                今日收益包括今日的回款利息、邀请好友奖励、投标奖励、微信注册红包、其他奖励；可在资金流水中查看详情

              </p>

            </div>

            <script>

                $(".zichan_wen").on("mouseover",function(){

                  $(".zichan").css({"display":"block"})

                }).on("mouseout",function(){

                  $(".zichan").css({"display":"none"})

                });

                $(".shouyi_wen").on("mouseover",function(){

                  $(".shouyi").css({"display":"block"})

                }).on("mouseout",function(){

                  $(".shouyi").css({"display":"none"})

                })

              </script>

          </div>

      <br>

     <!-- <span style="margin-left:10px;">您有<b style="color:red;">&nbsp;￥0.00&nbsp;</b>注册奖励，<span style="color:red">（不可提现）</span></span>-->

        </div>

      </div>
