<div class="top">

	<div class="top_main index_top_main">

    	<span class="top_l"><img src="/public/images/phone.png" width="15" height="15">客服热线：400-047-5588</span>

        <span class="top_m">

            <em class="wx_fade_box"><img src="/public/images/index_new_5_1a.png" width="18" height="15" style="margin-right:5px;">微信<img src="/public/images/index_new_5_2a.png" width="6" height="3" style="margin-left:5px;"></em>

            <em class="wx_fade_box2" style="display:none;"><img src="/public/images/index_new_5_1b.png" width="18" height="15" style="margin-right:5px;">微信<img src="/public/images/index_new_5_2b.png" width="6" height="3" style="margin-left:5px;"></em>

            <em class="wx_fadeinbox" style="display:none;line-height: 20px;">

                <img src="/public/images/index_new_6.jpg" width="124" height="124">

                <i>扫码注册，领<strong style="font-weight:normal;color:#f52f1b;">百元红包</strong></i> 

                <i><a href="/help/weixin" target="_blank" style="color:#0ca1d2;">查看详情>></a></i>

            </em>

        </span>

        <span class="top_r" >

            <a href="/help/help">帮助中心</a>

            <a href="/member/common/register/">免费注册</a>

            <a href="/member/common/login/">立即登录</a>

        </span>

         

    </div>

</div>