<include file="common/toubu" />
<include file="common/zuoce" />
			<div class="col-sm-10">
				<ol class="breadcrumb">
				  <li><a href="index.html">首页</a></li>
				  <li><a href="#">新闻管理</a></li>
				  <li class="active">新闻列表</li>
				</ol>
				<div id="web">
				<span><span class="glyphicon glyphicon-edit" aria-hidden="true"><strong> 新闻列表</strong></span>
				<hr>
				    <div class="row">
				    	<div class="col-sm-2"></div>
				    	<div class="col-sm-8">
							<table class="table table-hover table-responsive table-striped">
									<tr>
										<th>文章ID</th>
										<th>文章标题</th>
										<th>发布时间</th>
										<th>所属栏目</th>
										<th>操作</th>
									</tr>
									<foreach name='news' item='n'>
									<tr>
										<td>{$n['news_id']}</td>
										<td>{$n['title']}</td>
										<td>{$n['pubtime']|date="Y-m-d H:i:s",###}</td>

										<td>{$n['sort']}</td>

										<td>

											<a href="{:U('Admin/IndexUser/newsdelete',array('news_id'=>$n['news_id']))}" class="btn btn-warning btn-xs" type="button"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span> 删除</a>
										</td>
									</tr>
								</foreach>
							</table>
							<ul class="pagination">
							   <li>{$page}</li>

							</ul>
					    </div>
						<div class="col-sm-2"></div>
					</div>
				</div>
			</div>
		</div>
	</div>

</body>
</html>
