<include file="common/toubu" />
<include file="common/zuoce" />
			<div class="col-sm-10">
				<ol class="breadcrumb">
				  <li><a href="index.html">首页</a></li>
				  <li><a href="#">模块管理</a></li>
				  <li class="active">用户模块</li>
				</ol>
				<div id="web">
				<span><span class="glyphicon glyphicon-edit" aria-hidden="true"><strong> 用户模块</strong></span>
				<hr>
				    <div class="row">
				    	<div class="col-sm-12 table-responsive">
							<table class="table table-hover table-striped">
								<tr>
									<th>ID</th>
									<th>姓名</th>
									<th>年龄</th>
									<th>性别</th>
									<th>收入</th>

									<th>手机</th>
									<th>邮箱</th>
									<th>收入</th>
									<th>手机</th>
									<th>地址</th>

								</tr>
								<tr>
									<td>{$res.user_id}</td>
									<td>{$res.name}</td>
									<td>{$res.age}</td>
									<td>{$res.gender}</td>
									<td>{$res.income}</td>
									<td>{$res.mobile}</td>
									<td>{$res.email}</td>
									<td>{$res.address}</td>

								</tr>
							</table>
					    </div>
					</div>
				</div>
			</div>
		</div>
	</div>
	
</body>
</html>