<include file="common/toubu" />
<include file="common/zuoce" />
			<div class="col-sm-10">
				<ol class="breadcrumb">
				  <li><a href="index.html">首页</a></li>
				  <li><a href="#">模块管理</a></li>
				  <li class="active">管理员模块</li>
				</ol>
				<div id="web">
				<span><span class="glyphicon glyphicon-edit" aria-hidden="true"><strong> 管理员模块</strong></span>
				<span><span class="glyphicon glyphicon-edit" aria-hidden="true"><strong><a href="{:U('/Admin/IndexUser/adminAdd')}"> 添加管理员</a></strong></span>
				<hr>
				    <div class="row">
				    	<div class="col-sm-12">
							<h1>welcome</h1>
					    </div>
					</div>
				</div>
			</div>
		</div>
	</div>

</body>
</html>
