<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
</head>
<body>
	<div id="one" style="width:300px;height:300px;border: 1px solid black;">
	点击上传或拖动头像到此区域	
	</div>
	<form action="{:U('Home/Touxiang/upload')}" method="post" enctype="multipart/form-data">
		<input type="file" name="pic" id="">
		<input type="submit" value="上传图片">
	</form>
	
</body>
<script>
	// var one = document.getElementsByTagName('div')[0];
	one.ondragover = function(event){
		// alert(8888);
		event.preventDefault();
	}

	one.ondrop = function(e){
		var file = e.dataTransfer.files[0];//获取图片数据
		var formData = new FormData();//实例化FormData对象,Formdata是form表单的另一种形式,同样使用$_FILES数组接收,使用move_uploaded_files保存;
		formData.append('tupian',file);//将图片数据添加到formData对象中;
		//使用ajax上传图片数据;
		var xhr = new XMLHttpRequest();
		xhr.onreadystatechange = function(){
			if(this.readyState == 4){
				if(this.responseText == true){
					alert('上传成功');
					window.location.href="http://p2p.com/Home/IndexUser/index";
				}else{
					alert('上传失败,尚未登录');
				}
			}
		}
		var url = 'http://p2p.com/index.php/Home/Touxiang/uploadd';
		xhr.open('post',url,true);
		xhr.send(formData);
		e.preventDefault();
	}
</script>
</html>