<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Document</title>
</head>
<body>

  <link rel="stylesheet" href="__PUBLIC__/js/base.css">
  <link rel="stylesheet" href="__PUBLIC__/js/bankList.css">
  <link rel="stylesheet" href="__PUBLIC__/js/secondPhase.css">
  <link rel="stylesheet" href="__PUBLIC__/js/trans.css">
  <!--container-->
  <div class="operation-container">
    <div class="operation-main-area">
      <div class="white-box">
        <div class="operation-title">
          <div class="title-inset-area clearfix">
            <h3 class="title-text">充值</h3>
            <!-- <p class="fx-title-text">小金库底层产品为货币市场基金，风险性低</p> -->
            <i class="red-line"></i>
          </div>
        </div>
        <div class="operation-con">
          <form id="fm" class="form form-aligned" action="{:U('Home/chongzhi/pay')}" method="post">
            <div class="xjk-operation-con">
              <ul class="operation-area">
                <li class="operation-list mb30 clearfix">
                  <div class="infor-key">
                    <p>充值金额
                      <em>*</em></p>
                  </div>
                  <div class="infor-val clearfix">
                    <div class="input-money">
                      <input id="amount" name="amount" type="text" class="common-input" value="">
                      <em>元</em></div>
                    <span id="payin_error" class="money-erro-text"></span>
                  </div>
                </li>
                <li class="operation-list clearfix">
                  <div class="infor-key"></div>
                  <div class="infor-val clearfix">
                    <input type="hidden" id="agreePH" name="agreePH" value="false">
                    <div class="fx-tips-text">理财有风险，投资需谨慎
                      <a href="#" target="_blank">了解详情&gt;</a></div>
                    <div class="sure-area" id="confirmBtn">
                      <a href="#" class=""></a>
                      <input type="submit" id="sub" value="确认充值" class="sure-btn fl">
                      <!-- <a href="{:U('Home/chongzhi/pay')}" class="sure-btn fl">确认充值</a> -->
                      <span id="couponSelectedInfo" style="color:#f52f3e;font-size:14px;margin-left:20px"></span>
                    </div>
                  </div>
                </li>
              </ul>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  <!--container end-->
  <!--footer-->
  <div class="f-copyright" style="position: relative; top: 0px;">
    <div class="grid-1200 footerHolder">
      <div class="footer-nav">
        <p>
          <a href="#" target="_blank" clstag="jr|keycount|jr_shouye|footer1">测试</a>
          <span class="footer-nav-cut">|</span>
          <a href="#" target="_blank" clstag="jr|keycount|jr_shouye|footer2">测试</a>
          <span class="footer-nav-cut">|</span>
          <a href="#" target="_blank">关于</a>
          <span class="footer-nav-cut">|</span>
          <a href="#" target="_blank" clstag="jr|keycount|jr_shouye|footer4">联系我们</a>
          <span class="footer-nav-cut">|</span>
          <a href="">免责声明</a>
          <span class="footer-nav-cut">|</span>
          <a href="">经营证照</a>
          <span class="footer-nav-cut">|</span>
          <a href="">金融联盟</a>
          <span class="footer-nav-cut">|</span>
          <a href="">平台协议</a>
          <span class="footer-nav-cut">|</span>
          <a href="">隐私政策</a></p>
        <p>Copyright © 2004-2017 xxx.com 版权所有
          <span class="footer-nav-cut">|</span>投资有风险，购买需谨慎</p></div>
      <div class="footer-contact">
        <div class="f-contact-time">联系我们</div>
        <div class="f-contact-content f-contact-content-v2">
          <a class="f-cc-link item-JIMI" href="">24小时专属客服</a>
          <span class="f-cc-cut">|</span>
          <a class="f-cc-link item-kefu" href="">在线客服</a>
          <span class="f-cc-cut">|</span>
          <a class="f-cc-link item-mail" target="_blank" href="">客服邮箱</a></div>
      </div>
    </div>
  </div>
  <!--footer end-->
  <!--footer end-->

</body>
<script type="text/javascript">

    var fm = document.getElementById('fm');
    var inp = document.getElementsByTagName('input');
    fm.onsubmit = function() {
        var money = /^[0-9]*[1-9][0-9]*$/;
        if(!money.test(inp[0].value)) {
            alert('请填写正确金额!');
            return false;
        }
    }

</script>
</html>