<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
</head>
<body>
    <form method='post' action="http://p2p.com/pay/index.php">
        <input type='hidden' name='v_mid' value="{$pay['v_mid']}">
订单编号<input type='hidden' name='v_oid' value="{$pay['v_oid']}">{$pay['v_oid']}
订单总金额<input type='hidden' name='v_amount' value="{$pay['v_amount']}">{$pay['v_amount']}
        <input type='hidden' name='v_moneytype' value="{$pay['v_moneytype']}">
        <input type='hidden' name='v_url' value="{$pay['v_url']}">
        <input type='hidden' name='v_md5info' value="{$pay['v_md5info']}">

        <input type="hidden" name="amount" value="{$pay['amount']}">
        <input type="hidden" name="re_time" value="{$pay['re_time']}">
        <input type="hidden" name="user_id" value="{$pay['user_id']}">


        <input type="submit" name="" value="确认支付">
    </form>
</body>
</html>