<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
</head>
<body>
    <form action="" method="post" accept-charset="utf-8">
        <p><input type="hidden" name="re_id" value=""></p>
        <input type="hidden" name="user_id" value="">
        <p>money:<input type="text" name="amount" value=""></p>
        <p><input type="hidden" name="re_time"></p>
        <input type="submit" value="提交"> 
    </form>
</body>
<script type="text/javascript">
var inp document.getElementById();
function checkNumber(obj){
    var reg = /^[0-9]+$/;
    if(obj!=""&&reg.test(obj)){
        alert('只能输出数字');
        return false;
    }
}

</script>
</html>
