<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <style>
        .xiang{
            text-align: center;
            margin:5px;
            border: 1px black solid;
            display:block;
            float:left;
            width: 110px;
            height: 25px;
        }
        .mx{
            text-decoration: none;
        }
    </style>
</head>
<body style="margin: 0px">
    <div style="width:600px;height:100%;background: white;">
            <ul class="menu ajaxdata">
                <li class="xiang"><a class="mx" href="#fragment-2" onclick="change1()">招标中的项目</a></li>
                <li class="xiang"><a class="mx" href="#fragment-3" onclick="change2()">还款中的项目</a></li>
                <li class="xiang"><a class="mx" href="#fragment-4" onclick="change3()">逾期的项目</a></li>
                <li class="xiang"><a class="mx" href="#fragment-5" onclick="change4()">已还清的项目</a></li>
            </ul>     
    </div>
    <div style="width:600px;height:100%;background:white;clear:both;padding-left:40px;" class="first">
        <table width="600px" style="text-align: center;">
            <tr">
                <th id="fragment2">项目名</th>
                <th id="fragment3">招标金额</th>
                <th id="fragment4">进展</th>
                <th id="fragment5">时间</th>
            </tr> 
             <tr>
                <td>项目名</td>
                <td>招标金额</td>
                <td>进展</td>
                <td>时间</td>
            </tr>
        </table>
    </div>
</body>
<script>

    var li1 = document.getElementById('fragment2');
    var li2 = document.getElementById('fragment3');
    var li3 = document.getElementById('fragment4');
    var li4 = document.getElementById('fragment5');
    function Aj(){

    }
    function change1(){
        console.log(li1);
    }
    function change2(){

    }
    function change3(){

    }
    function change4(){

    }

</script>
</html>